@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
}

/*----------------navbar----------------*/
body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}
nav {
  background-color: black;
  display: flex;
  width: 100%;
  margin-right: 20px;
  height: 10vh;
  justify-content: space-between;
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}

nav ul li a {
  margin: 5px 20px;
  font-family: "poppins";
  color: white;
}

.logo {
  width: 7%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-nav {
  width: 7%;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.respo-icons {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    height: 20vh;
  }

  nav ul {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .icons-nav {
    display: none;
  }

  .respo-icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
}

/*------------------------hero section------------------------*/
.hero {
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  width: 70%;
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  top: 50px;
  margin-bottom: 10px;
}
.hero-text h1 {
  font-family: "Poppins";
  font-size: 40px;
  margin: 0;
}
.hero-text h3 {
  font-family: "Poppins";
  font-size: 12px;
}
.hero-img {
  width: 100%;
  height: 65%;
  /* background: url(./images/vidhero.mp4) no-repeat center;
  background-size: cover; */

  video{
    width: 100%;
    height: 59vh;
    object-fit: cover;
  }
}
.hero-btns {
  margin-bottom: 40px;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-btns a {
  margin: 0 20px;
  border: 1px solid #2997ff;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  font-family: "Poppins";
  font-size: 20px;
  background-color: #2997ff;
}
.hero-btns a:nth-child(1) {
  background-color: black;
  color: #2997ff;
}
.price {
  color: #ffffff;
  font-family: "Poppins";

  a {
    color: #2997ff;
  }
}

@media screen and (max-width: 768px) {
  .hero {
  }
  .hero-text {
    margin-bottom: 90px;
    width: 100%;
    height: 20svh;

    h1 {
      font-size: 50px;
    }
  }
  .hero-img {
    display: none;
  }
  .hero-btns {
    position: relative;
    bottom: 30px;
    text-align: center;
    align-items: center;
    font-size: 14px;
  }
  .respo-hero {
    display: flex;
    width: 100%;
    height: 80%;
    background: url(./images/respo-hero.png) no-repeat center;
    background-size: fill;
  }
  .price {
    display: none;
  }
}

/*-----------------start devices section-----------------*/
.devices {
  display: grid;
  place-items: center;
  width: 100%;
  height: 20svh;
}
.grid-devices {
  width: 98%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  text-align: center;

  h2 {
    position: relative;
    top: 115px;
    font-family: "Poppins";
    font-size: 15px;
  }
}
.icon1 {
  background: url(./images/icon1.png) no-repeat center;
  background-size: fill;
}
.icon2 {
  background: url(./images/icon2.png) no-repeat center;
  background-size: fill;
}
.icon3 {
  background: url(./images/icon3.png) no-repeat center;
  background-size: fill;
}
.icon4 {
  background: url(./images/icon4.png) no-repeat center;
  background-size: fill;
}
.icon5 {
  background: url(./images/airpods_max_light__cvaaddhgazqu_large\ 1.png)
    no-repeat center;
  background-size: fill;
}
.icon6 {
  background: url(./images/icon6.png) no-repeat center;
  background-size: fill;
}
.icon7 {
  background: url(./images/icon7.png) no-repeat center;
  background-size: fill;
}
.icon8 {
  background: url(./images/icon8.png) no-repeat center;
  background-size: fill;
}
.icon9 {
  background: url(./images/icon5.png) no-repeat center;
  background-size: fill;
}

@media screen and (max-width: 768px) {
  .devices {
    width: 100%;
  }
  .grid-devices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon4 {
    display: none;
  }
  .icon5 {
    display: none;
  }
  .icon6 {
    display: none;
  }
  .icon7 {
    display: none;
  }
  .icon8 {
    display: none;
  }
  .icon9 {
    display: none;
  }
}

/*-----------------start TECHNOLOGY-----------------*/

.technology {
  width: 97.7%;
  margin-top: 30px;
  height: 100vh;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}
.first-div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;

  .mini-div1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    gap: 15px;

    .iphone15 {
      background-color: black;
      width: 95%;
      height: 90%;
      border-radius: 30px;
      display: grid;
      grid-template-columns: 1fr 3fr;

      .for-image1 {
        margin-left: 20px;
        width: 100%;
        background: url(./images/iphone_15__dozjxuchowcy_large_2x-removebg-preview\ 1.png)
          no-repeat center;
        background-size: fill;
      }
    }
    .watch1 {
      background-color: black;
      width: 90%;
      height: 90%;
      border-radius: 30px;
      display: grid;
      grid-template-rows: 1fr 1fr;

      .for-image2 {
        width: 80%;
        height: 100%;
        background: url(./images/watch1.png) no-repeat center;
        background-size: fill;
      }
    }
  }
  .mini-div2 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    place-items: center;

    .watch2 {
      background-color: black;
      width: 90%;
      height: 90%;
      border-radius: 30px;
      display: grid;
      grid-template-rows: 1fr 1fr;

      .for-image3 {
        width: 80%;
        height: 100%;
        background: url(./images/WHATCHé.png) no-repeat center;
        background-size: fill;
      }
    }
    .macbook {
      background-color: black;
      width: 98%;
      border-radius: 30px;
      height: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .for-image4 {
        width: 80%;
        height: 100%;
        background: url(./images/macbook.png) no-repeat center;
        background-size: fill;
      }
    }
  }
}

.tech-txt {
  color: white;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-family: "poppins";

  h1 {
    font-size: 40px;
  }
  h5 {
    font-weight: 400;
    font-size: 17px;
  }
  p {
    font-weight: 200;
  }
}
.cards-btns {
  display: flex;
  width: 60%;
  margin-top: 20px;

  a {
    color: #2997ff;
    margin: 0 20px 0 0;

    &::after {
      content: ">";
      position: relative;
      left: 10px;
    }
  }
}

.tech-txt2 {
  color: white;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "poppins";

  h1 {
    font-size: 30px;
    position: relative;
    left: 20px;
  }
  h5 {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    left: 20px;
  }
}
.txt-header1 {
  display: flex;
  h3 {
    color: red;
    font-size: 17px;
    font-weight: 200;
    position: relative;
    left: 25px;
    top: 14px;
  }
  h2 {
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 5px;
    margin: 0 10px 0 0;
  }
}
.cards-btns2 {
  display: flex;
  width: 100%;
  position: relative;
  top: 20px;
  left: 20px;
  a {
    color: #2997ff;
    margin: 0 20px 0 0;

    &::after {
      content: ">";
      position: relative;
      left: 10px;
    }
  }
}

.macbook-txt {
  color: white;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
  }
  .cards-btns2 {
    display: flex;
    width: 100%;
    position: relative;
    top: 40px;
    left: 20px;
    a {
      color: #2997ff;
      margin: 0 50px 0 0;

      &::after {
        content: ">";
        position: relative;
        left: 10px;
      }
    }
  }
}

.second-div {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.content {
  background: url(./images/seconnd-div.png) no-repeat center;
  background-size: cover;
  width: 98%;
  height: 95%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .tech-img {
    object-fit: cover;
    width: 97%;
    height: 8vh;
    position: relative;
    top: 20px;
  }
  h2 {
    color: white;
    position: relative;
    top: 30px;
    font-size: 24px;
    font-weight: 300;
    font-family: "Poppins";
  }
  .cards-btns2 {
    display: flex;
    width: 70%;
    position: relative;
    top: 70%;
    font-family: "poppins";
    text-align: center;
    a {
      color: #2997ff;
      margin: 0 50px 0 0;

      &::after {
        content: ">";
        position: relative;
        left: 10px;
      }
    }
  }
}
.respo-technology {
  display: none;
}

@media screen and (max-width: 768px) {
  .technology {
    display: none;
  }
  .respo-technology {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 200vh;
    align-items: center;
  }
  .iphone15 {
    background-color: black;
    height: 40vh;
    width: 98%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .cards-btns {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .tech-txt {
      position: relative;
      right: 9px;
    }
    .for-image1 {
      background: url(./images/iphone_15__dozjxuchowcy_large_2x-removebg-preview\ 1.png)
        no-repeat center;
      background-size: contain;
      width: 100%;
      height: 40%;
    }
  }
  .watch1 {
    background-color: black;
    height: 20vh;
    width: 98%;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

    .cards-btns2 {
      width: 90%;
    }
  }
  .for-image2 {
    width: 40%;
    background: url(./images/watch1.png) no-repeat center;
    background-size: contain;
    position: relative;
    left: 10px;
  }
  .watch2 {
    background-color: black;
    height: 20vh;
    width: 98%;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;

    .cards-btns2 {
      width: 90%;
    }
  }
  .for-image3 {
    width: 50%;
    background: url(./images/WHATCHé.png) no-repeat center;
    background-size: contain;
  }

  .macbook {
    display: flex;
    background-color: black;
    height: 30vh;
    width: 98%;
    margin-top: 20px;
    border-radius: 20px;

    .cards-btns3 {
      width: 90%;
      font-size: 14px;
      text-align: left;
      display: flex;
      margin-top: 20px;

      a {
        color: #2997ff;
        margin: 0 20px;
        &::after {
          content: ">";
          color: #2997ff;
          position: relative;
          left: 30px;
        }
      }
    }
  }
  .for-image4 {
    width: 40%;
    background: url(./images/macbook.png) no-repeat center;
    background-size: contain;
  }
  .macbook-txt {
    display: flex;
    flex-direction: column;
    width: 59%;
    h1 {
      font-size: 25px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .second-div {
    width: 98%;
    height: 80vh;
  }
  .content {
    h2 {
      font-size: 15px;
      position: relative;
      left: 5px;
    }
  }
  .cards-btns2 {
    position: relative;
    left: 28px;
  }
}

/* -------------------------save section------------------------- */
.save-sec {
  width: 100%;
  height: 56svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-content {
  width: 65%;
  height: 90%;
  display: flex;
}
.save-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 20px;

  h1 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 30px;
  }
  h3 {
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 400;
  }
  h5 {
    color: red;
    font-family: "Poppins";
    font-weight: 300;
  }
  a {
    font-family: "Poppins";
    color: #2997ff;
  }
}

@media screen and (max-width: 768px) {
  .save-sec {
    width: 100%;
    height: 60vh;

    img {
      width: 66%;
      aspect-ratio: 1/1;
      display: flex;
    }
  }
  .save-content {
    flex-direction: column;
    width: 98%;

    justify-content: center;
    align-items: center;
  }
  .save-txt {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 25px;
      width: 100%;
    }
  }
}
/* -------------------------two divs section------------------------- */
.twodivs {
  display: flex;
  width: 100%;
  height: 110svh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.first-flx {
  width: 96%;
  height: 98%;
  margin-left: 5px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.watches-img {
  width: 90%;
  height: 100%;
  background: url(./images/bunchofwatches.png) no-repeat center;
  background-size: contain;
}
.divs-txt {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.second-flx {
  width: 96%;
  height: 98%;
  margin-right: 5px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .divs-txt {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    position: relative;
    bottom: 40px;
  }
}


.flx-img {
  width: 90%;
  height: 100%;
  background: url(./images/iphones.png) no-repeat center;
  background-size: auto;
}
.header-txt {
  color: white;
  display: flex;
  width: 100%;
  font-family: "Poppins";
  align-items: center;
  justify-content: center;
  

  h1 {
    font-size: 30px;
    position: relative;
    top: 7px;
  }
  span {
    font-size: 20px;
    font-weight: 300;
    color: red;
  }
  h2 {
    font-size: 25px;
  }
}
.divs-txt {
  h3 {
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 300;
  }
}
.btns-divs {
  width: 100%;
  text-align: center;
  a {
    margin: 0 15px;
    font-family: "Poppins";
    color: #2997ff;
  }
}
.group4{
  width: 88%;
  height: 60%;
  background: url(./images/Group\ 4.png) no-repeat center;
  background-size: fill;
}
@media screen and (max-width : 768px) {
  .twodivs{
    flex-direction: column;
    height: 150vh;
    gap: 5px;
    margin-bottom: 10px;
  }
  .first-flx{
    width: 100%;
  }
  .second-flx{
    width: 100%;
    margin-left: 10px;
  }
  .group4{
    display: none;
  }
}

/* -------------------------------------------tv section------------------------------------------- */

.tv{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tv-txt{
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  h2{
    font-family: 'Poppins';
    span{
      font-size: 40px;
      position: relative;
      top: 10px;
    }
  }
  h3{
    font-family: 'Poppins';
  }
}
.tv-btns{
  display: flex;
  width: 100%;
  justify-content: center;

  a{
    margin: 0 20px;
    font-family: 'Poppins';
    color: #2997ff;
  }
}
.signin{
  border: 1px solid #2997ff;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins';
  background-color: #2997ff;
  color: white;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .tv{
    width: 100%;
  }
  .tv-txt{
    width: 100%;
  }
  
}

/* -----------------------------------apple tv section----------------------------------- */
.carousel {
  width: 100%;
  cursor: grab;
  display: flex;
  
  &.dragging {
    cursor: grabbing;
  }
  
  &--wrap {
    white-space: nowrap;
    display: flex;
  }
  
  &--item {
    display: inline-block;
    width: 30vw;
    padding: 3vw;
    user-select: none;
    
    figure {
      position: relative;
      z-index: 1;
      display: flex;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      
      img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
        transform-origin: center;
      }
    }
    
    h2 {
      position: absolute;
      z-index: 1;
      bottom: 1.8vw;
      font-size: 6vw;
      bottom: 1vw;
      color: #fff;
    }
  }
  
  &--progress {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    bottom: 2vw;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, .2);
    
    &-bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .8);
      transform: scaleX(0);
      transform-origin: 0% 0%;
    }
  }
}
.carousel--wrap{
  display: flex;
}
figure img{
  margin: 0 20px;
}
/* ------------------------------------footer------------------------------------ */
footer{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.f-div, .t-div, .s-div, .f-div{
  border-bottom: .6px solid rgb(116, 115, 115);
  width: 98%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p{
    margin: 0 10px 0 10px;
    font-size: 13px;
  }
  a{
    color: #2997ff;
  }
}
.s-div{
  height: 300%;
  display: flex;
}
.footer-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  h1{
    font-size: 20px;
    margin: 5px 0 5px 10px;
  }
  a{
    color: white;
    margin: 0 0 5px 10px;
  }
}
@media screen and (max-width:768px){
  footer{
    display: none;
  }
  .footer{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  .f-div{
    width: 100%;
  }
  .footer-container{
    border: 1px solid red;
    height: 30%;
  }
  .s-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-ftr{
    display: none;
    flex-direction: column;
    a{
      color: black;
    }
  }
}